<!-- <ul>
    <li class="text" *ngFor="let chat of chats | async">
        {{chat.mensaje}}
    </li>
</ul> -->

<div class="container main-container">
    <h1>Firechat</h1>

    <div class="col-md-12 text-right" *ngIf="cs.usuario.uid">
        <button type="button" class="btn btn-outline-danger" (click)="cs.logout()">
            Salir
        </button>
    </div>

    <app-login *ngIf="!cs.usuario.uid"></app-login>

    <div *ngIf="cs.usuario.uid" class="chat-window">
        <app-chat></app-chat>
    </div>
</div>